@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap');

body {
    background-color: #000;
    font-family: 'League Spartan', Helvetica, sans-serif;
}


::-webkit-scrollbar {
    display: none;
}